obj/Debug/netcoreapp3.1/nbaAlerts.Views.pdb
obj/Debug/netcoreapp3.1/nbaAlerts.Views.dll
obj/Debug/netcoreapp3.1/nbaAlerts.pdb
obj/Debug/netcoreapp3.1/nbaAlerts.dll
obj/Debug/netcoreapp3.1/nbaAlerts.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/nbaAlerts.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/nbaAlerts.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/nbaAlerts.assets.cache
obj/project.nuget.cache
bin/Debug/netcoreapp3.1/RestSharp.dll
bin/Debug/netcoreapp3.1/nbaAlerts.Views.pdb
bin/Debug/netcoreapp3.1/nbaAlerts.Views.dll
bin/Debug/netcoreapp3.1/nbaAlerts.pdb
bin/Debug/netcoreapp3.1/nbaAlerts.dll
bin/Debug/netcoreapp3.1/nbaAlerts.deps.json
obj/Debug/netcoreapp3.1/nbaAlerts.Views.pdb
obj/Debug/netcoreapp3.1/nbaAlerts.Views.dll
obj/Debug/netcoreapp3.1/nbaAlerts.pdb
obj/Debug/netcoreapp3.1/nbaAlerts.dll
obj/Debug/netcoreapp3.1/nbaAlerts.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/nbaAlerts.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/nbaAlerts.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/nbaAlerts.assets.cache
obj/project.nuget.cache
bin/Debug/netcoreapp3.1/nbaAlerts.Views.pdb
bin/Debug/netcoreapp3.1/nbaAlerts.Views.dll
bin/Debug/netcoreapp3.1/nbaAlerts.pdb
bin/Debug/netcoreapp3.1/nbaAlerts.dll
bin/Debug/netcoreapp3.1/nbaAlerts.deps.json
